<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <link
          href="https://fonts.googleapis.com/css?family=Bangers&display=swap"
          rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css?family=Oswald:300&display=swap" rel="stylesheet">
    </head>
    <header>
        <a href="https://github.com/Adirdayan13" target="_blank"><img class="turntable" src="turntable.svg" /></a>
    </header>
    <body>
        <title>Vinyls</title>
        <h1>Welcome to the Vinyls/CD's collection</h1>

        {{{body}}}

    </body>
</html>
